//META{"name":"LMB-Discord","description":"My own custom theme for whoever the fuck's use.","author":"LukeMBilston","version":"1"}*// @import url(https://LukeMBilston.github.io/Themes/Discord/src/Import.css); html {
/* START */
  /* Background, use html colors or an image [using url(); to define a link] */
    --main-BG: #555;

  /* Changes transparency, 0.00 to 1.00, 0.00 is transparent, 1.00 is opaque */
    --opacity-Val: .75;

  /* Changes the tint of all the transparent objects */
    --opacity-Tone: 30,30,30;

  /* Changes the highlight colors */
    --highlight-Tone: #3399aa;

/* Change font to any one you have installed */
    --Font-Name: Arial;

/* END */
}
