/* Text */
#app-mount {
    font-family: var(--Font-Name);
}

/* text replacement */
#app-mount .cooldownWrapper-3joyFc {
    visibility: hidden;
}

#app-mount .cooldownWrapper-3joyFc:after {
    content: "Slow Mode";
    visibility: visible;
    overflow: visible;
}