/* Background */
#app-mount:before {
    filter: blur(5px);
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
    background: var(--main-BG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.5s ease-in-out;
}

/* Mount-elements */
#app-mount {
background: transparent;
}

#app-mount .layers-3iHuyZ {
    background: transparent;
}

#app-mount .layer-3QrUeG {
    background: transparent;
}

.stop-animations {
    opacity: var(--opacity-Val)!important;
}

#app-mount .container-2lgZY8 {
    background: var(--combined-Opacity);
}

/* titlebar */
#app-mount .typeWindows-1za-n7 {
    background: rgba(var(--opacity-Tone),calc(var(--opacity-Val) * 1.5));
    padding-top: 4px;
    margin-top: 0;
    height: 18px;
}

#app-mount .title-3qD0b- {
    background: var(--combined-Opacity);
}

/* Guild-List */
#app-mount .guildsWrapper-5TJh6A {
    background: rgba(var(--opacity-Tone),calc(var(--opacity-Val) * 1.25));
}

/* Channel/chat list */
#app-mount .channels-Ie2l6A {
    background: transparent;
}

#app-mount .container-PNkimc, #app-mount .privateChannels-1nO12o {
    background: var(--combined-Opacity);
}

#app-mount .container-2Thooq {
    background: var(--combined-Opacity);
    border-radius: 0 0 7.5px 0;
    margin-bottom: 50px;
    animation: slidemargin 1s;
}

/* Chat */
#app-mount .chat-3bRxxu {
    background: transparent;
}

#app-mount .chat-3bRxxu form {
    background: transparent;
}

#app-mount .content-yTz4x3 {
    background: transparent;
}

#app-mount .messagesWrapper-3lZDfY {
    background: transparent;
}

#app-mount .inner-zqa7da {
    border-radius: 7.5px;
    background: var(--combined-Opacity);
}

#app-mount .typing-2GQL18 {
    background: transparent;
}

#app-mount .base-gE7OpD {
    height: 20px;
}

#app-mount .channelTextArea-rNsIhG {
    padding-top: 2px;
    margin-bottom: 20px;
    border-top: none;
}

#app-mount .newMessagesBar-mujexs {
    background: rgba(var(--opacity-Tone),calc(var(--opacity-Val) * 1.25));
}

/* members list */
#app-mount .members-1998pB {
    background: var(--combined-Opacity);
    border-radius: 0 0 0 7.5px;
    margin-bottom: 50px;
    animation: slidemargin 1s;
}

/* Home */
#app-mount .activityFeed-28jde9 {
    background: transparent;
}

#app-mount .gameLibrary-TTDw4Y {
    background: transparent;
}

#app-mount .applicationStore-1pNvnv {
    background: transparent;
}

#app-mount #friends {
    background: transparent;
}

#app-mount .header-39GIC8 {
    background: var(--combined-Opacity);
}

#app-mount .headerBar-UHpsPw {
    background: var(--combined-Opacity);
    width: calc(100% - 4px);
}

#app-mount .stickyHeader-1pqx0j {
    width: 100%;
}

/* settings */
/* */

/* customcss */
#app-mount #bd-customcss-detach-container {
    background: var(--combined-Opacity);
}

#app-mount .ace-monokai {
    background: var(--combined-Opacity);
}

#app-mount #bd-customcss-attach-controls {
    background: var(--combined-Opacity);
}

#app-mount .ace_gutter {
    background: var(--combined-Opacity);
}

/* annoying crap */
.channelNotices-41mJbj *{
	display: none;
}