/* Mount */
    /* Background */
    #app-mount::before {
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: var(--main-BG) center/cover;
    }

    /* Main */
    #app-mount {
        background: transparent;
    }

    #app-mount .layers-3iHuyZ {
        background: transparent;
    }

    #app-mount .layer-3QrUeG {
        background: transparent;
    }

    .layer-3QrUeG, .stop-animations {
        opacity: 1!important;
        transform: unset!important;
    }

    #app-mount .container-2lgZY8 {
        background: var(--combined-Opacity);
    }

/* Titlebar */
    /* Main */
    #app-mount .typeWindows-1za-n7 {
        background: rgba(var(--opacity-Tone),calc(var(--opacity-Val) * 1.25));
        padding-top: 4px;
        margin-top: 0;
        height: 18px;
    }

    #app-mount .title-3qD0b- {
        background: var(--combined-Opacity);
    }

    /* Search */
    #app-mount .searchBar-3dMhjb {
        background: var(--combined-Opacity);
    }

    #app-mount .container-3ayLPN {
        background: var(--combined-Opacity);
    }

    .option-96V44q::after {
        display: none;
    }

    #app-mount .searchResultsWrap-2DKFzt {
        background: var(--combined-Opacity)
    }


/* Guild-List */
    /* Main */
    #app-mount .guildsWrapper-5TJh6A {
        background: rgba(var(--opacity-Tone),calc(var(--opacity-Val) * 1.25));
    }

    /* Home icon */
    #app-mount .guildInner-3DSoA4 a svg {
        display: none;
    }
    
    #app-mount .guild-1EfMGQ:first-child .guildInner-3DSoA4 a {
        background: url(/Themes/Discord/Assets/Home-icon.png) center/cover;
    }


/* Channel/chat list */
    /* Main */
    #app-mount .channels-Ie2l6A {
        background: transparent;
        margin-bottom: 50px;
    }

    #app-mount .privateChannels-1nO12o, #app-mount .container-PNkimc {
        background: var(--combined-Opacity);
    }

    #app-mount .container-1UB9sr {
        background: var(--combined-Opacity);
        border-bottom: none;
    }

    #app-mount .container-2Thooq {
        background: var(--combined-Opacity);
        border-radius: 0 0 7.5px 0;
    }

    #app-mount .unreadBar-3YD_k9 {
        background: rgba(var(--opacity-Tone),var(--opacity-Val));
    }


/* Chat */
    /* Main */
    #app-mount .chat-3bRxxu {
    background: transparent;
    }

    #app-mount .content-yTz4x3 {
        background: transparent;
    }

    #app-mount .chat-3bRxxu form {
        background: transparent;
    }

    #app-mount .messagesWrapper-3lZDfY {
        background: transparent;
    }

    #app-mount .inner-zqa7da {
        border-radius: 7.5px;
        background: var(--combined-Opacity);
    }

    #app-mount .typing-2GQL18 {
        background: transparent;
    }

    #app-mount .base-gE7OpD {
        height: 20px;
    }

    #app-mount .channelTextArea-rNsIhG {
        padding-top: 2px;
        margin-bottom: 20px;
        border-top: none;
    }

    #app-mount .newMessagesBar-mujexs {
        background: rgba(var(--opacity-Tone),calc(var(--opacity-Val) * 1.25));
    }

    /* Auto-complete */
    #app-mount .autocomplete-1vrmpx {
        background: var(--combined-Opacity);
    }

    /* Scrollbars */
    #app-mount .scroller-2FKFPG::-webkit-scrollbar-track {
        background: var(--combined-Opacity);
        border-radius: 7.5px 0 0 7.5px;
    }

    #app-mount .scroller-2FKFPG::-webkit-scrollbar-track-piece {
        background: transparent;
        border-radius: 7.5px 0 0 7.5px;
        border: none; 
    }

    #app-mount .scroller-2FKFPG::-webkit-scrollbar-thumb {
        background: var(--combined-Opacity);
        border-radius: 7.5px 0 0 7.5px;
        border: solid 0 #555;
        border-width: 2px 0 2px 2px;
    }

    /* Members list */
    #app-mount .members-1998pB {
        background: var(--combined-Opacity);
        border-radius: 0 0 0 7.5px;
        margin-bottom: 50px;
    }


/* Home */
    /* Activity Feed */
    #app-mount .activityFeed-28jde9 {
        background: transparent;
    }

    #app-mount .header-39GIC8 {
        background: var(--combined-Opacity);
    }

    /* Game Library */
    #app-mount .gameLibrary-TTDw4Y {
        background: transparent;
    }

    #app-mount .stickyHeader-1pqx0j {
        width: 100%;
    }

    /* Gift Invent */
    #app-mount .root-1BQpZw {
        background: transparent;
    }

    /* Store */
    #app-mount .applicationStore-1pNvnv {
        background: transparent;
    }

    /* Friends */
    #app-mount .container-3gCOGc {
        background: transparent;
    }

    /* Header for most of the above */
    #app-mount .headerBar-UHpsPw {
        background: var(--combined-Opacity);
        width: calc(100% - 4px);
    }


/* Settings */
    /* Main */
    #app-mount .standardSidebarView-3F1I7i {
        background: var(--combined-Opacity);
    }

    #app-mount .sidebarRegion-VFTUkN {
        background: var(--combined-Opacity);
        flex: 0.07 0 218px;
    }

    #app-mount .contentRegion-3nDuYy {
        background: transparent;
    }

    #app-mount .contentColumnDefault-1VQkGM {
        max-width: 65%;
        margin-left: 100px;
    }

    /* Mic test */
    #app-mount .notches-1sAcEM {
        background-image: none;
    }

    #app-mount .progress-1IcQ3A {
        background-color: rgba(100,100,100,.75);
    }

    #app-mount .container-3PXSwK {
        border-radius: 3px;
    }

    /* Ace editor (BD Custom CSS) */
    #app-mount #bd-customcss-detach-container {
        background: var(--combined-Opacity);
    }

    #app-mount .ace-monokai {
        background: var(--combined-Opacity);
    }

    #app-mount #bd-customcss-attach-controls {
        background: var(--combined-Opacity);
    }

    #app-mount .ace_gutter {
        background: var(--combined-Opacity);
    }


/* annoying crap */
    /* Shortcut and invite tips */
    .channelNotices-41mJbj {
	    display: none;
    }

    /* Dumb looking gift button */
    .buttons-205you [tabindex="2"] {
        display: none;
    }