/* Shortcut and invite tips */
.channelNotices-41mJbj {
  display: none;
}

/* "protips" */
.protip-YaFfgO {
  display: none;
}

/* Gift button */
.buttons-205you [tabindex="2"] {
    display: none;
}
