/* Mount */
    /* Main */
    #app-mount {
        background: transparent;
    }

    #app-mount .layers-3iHuyZ {
        background: transparent;
    }

    #app-mount .layer-3QrUeG {
        background: transparent;
    }

    #app-mount .container-2lgZY8 {
        background: var(--v-opacity-Normal);
    }


/* Titlebar */
    /* Main */
    #app-mount .typeWindows-1za-n7 {
        background: var(--v-opacity-Normal);
    }

    #app-mount .title-3qD0b- {
        background: var(--v-opacity-Light);
    }

    /* Search */
    #app-mount .searchBar-3dMhjb {
        background: var(--v-opacity-Light);
    }

    #app-mount .container-3ayLPN {
        background: var(--v-opacity-Light);
    }

    .option-96V44q::after {
        display: none;
    }

    .option-96V44q.selected-rZcOL- {
        background: var(--v-accent-Tone);
    }

    #app-mount .searchHeader-1l-wpR {
        background: transparent;
    }

    #app-mount .searchResultsWrap-2DKFzt {
        background: var(--v-opacity-Light);
    }

    #app-mount .searchResultMessage-2VxO12.hit-NLlWXA {
        background: var(--v-opacity-Light);
    }


/* Guild-List */
    /* Main */
    #app-mount .guildsWrapper-5TJh6A {
        background: var(--v-opacity-Normal);
    }


/* Channel/chat list */
    /* Main */
    #app-mount .channels-Ie2l6A {
        background: transparent;
    }

    #app-mount .privateChannels-1nO12o, #app-mount .container-PNkimc {
        background: var(--v-opacity-Light);
    }

    #app-mount .container-1UB9sr {
        background: var(--v-opacity-Light);
    }

    #app-mount .container-2Thooq {
        background: var(--v-opacity-Light);
    }

    #app-mount .unreadBar-3YD_k9 {
        background: var(--v-opacity-Light);
    }


/* Chat */
    /* Main */
    #app-mount .chat-3bRxxu {
    background: transparent;
    }

    #app-mount .content-yTz4x3 {
        background: transparent;
    }

    #app-mount .messagesWrapper-3lZDfY {
        background: transparent;
    }

    #app-mount .inner-zqa7da {
        background: var(--v-opacity-Light);
    }

    #app-mount .newMessagesBar-mujexs {
        background: var(--v-opacity-Light);
    }

    /* text field */
    #app-mount .chat-3bRxxu form {
        background: transparent;
    }

    #app-mount .typing-2GQL18 {
        background: transparent;
    }

    /* Auto-complete */
    #app-mount .autocomplete-1vrmpx {
        background: var(--v-opacity-Normal);
    }

    /* Scrollbars */
    #app-mount .scroller-2FKFPG::-webkit-scrollbar-track {
        background: var(--v-opacity-Light);
    }

    #app-mount .scroller-2FKFPG::-webkit-scrollbar-track-piece {
        background: transparent;
    }


/* Members list */
#app-mount .members-1998pB {
    background: var(--v-opacity-Light);
}


/* Home */
    /* Activity Feed */
    #app-mount .activityFeed-28jde9 {
        background: transparent;
    }

    #app-mount .header-39GIC8 {
        background: var(--v-opacity-Light);
    }

    /* Game Library */
    #app-mount .gameLibrary-TTDw4Y {
        background: transparent;
    }

    #app-mount .stickyHeader-1pqx0j {
        width: 100%;
    }

    /* Gift Invent */
    #app-mount .root-1BQpZw {
        background: transparent;
    }

    /* Store */
    #app-mount .applicationStore-1pNvnv {
        background: transparent;
    }

    /* Friends */
    #app-mount .container-3gCOGc {
        background: transparent;
    }

    /* Header for most of the above */
    #app-mount .headerBar-UHpsPw {
        background: var(--v-opacity-Light);
        width: calc(100% - 4px);
    }


/* Settings */
    /* Main */
    #app-mount .standardSidebarView-3F1I7i {
        background: var(--v-opacity-Light);
    }

    #app-mount .sidebarRegion-VFTUkN {
        background: var(--v-opacity-Light);
    }

    #app-mount .contentRegion-3nDuYy {
        background: transparent;
    }

    /* Mic test */
    #app-mount .notches-1sAcEM {
        background-image: none;
    }

    #app-mount .progress-1IcQ3A {
        background-color: rgb(100,100,100);
    }

    /* Ace editor (BD Custom CSS) */
    #app-mount #bd-customcss-detach-container {
        background: var(--v-opacity-Light);
    }

    #app-mount .ace-monokai {
        background: var(--v-opacity-Light);
    }

    #app-mount #bd-customcss-attach-controls {
        background: var(--v-opacity-Light);
    }

    #app-mount .ace_gutter {
        background: var(--v-opacity-Light);
    }