#app-mount {
    /* Switching Vars */
    --v-opacity-Normal: rgba(var(--opacity-Tone,var(--d-opacity-Tone)),var(--opacity-Val,var(--d-opacity-Val)));
    --v-opacity-Light: rgba(var(--opacity-Tone,var(--d-opacity-Tone)),calc(var(--opacity-Val,var(--d-opacity-Val)) * .75));
    --v-button-Select: rgba(var(--button-Select, var(--d-button-Select)),var(--button-Opacity, var(--d-button-Opacity)));
    --v-main-BG: var(--main-BG,var(--d-main-BG));
    --v-font-Name: var(--font-Name, var(--d-font-Name));

    /* d Vars */
    --d-opacity-Tone: 30,30,30;
    --d-opacity-Val: .75;
    --d-button-Select: 38,38,38;
    --d-button-Opacity: 1;
    --d-main-BG: #555;
    --d-font-Name: 'whitney';
}
