#app-mount {
    /* Misc Vars */
    --combined-Opacity: rgba(var(--opacity-Tone),var(--opacity-Val));
  
    /* Main Vars */
    --main-BG: #555;
    --opacity-Val: .5;
    --opacity-Tone: 30,30,30;
    --Font-Name: Arial;
}